Django>=2.2,<3
django_compressor
django-mptt
django-pagedown<2
django-registration-redux
django-social-share
django-impersonate
django-anymail
-e git://github.com/DMOJ/dmoj-wpadmin.git#egg=dmoj-wpadmin
lxml
Pygments
mistune
social-auth-app-django
pytz
django-statici18n
ua-parser
pyyaml
jinja2
django_jinja
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
jsonfield
pymoss
packaging
celery
-e git://github.com/DMOJ/ansi2html.git#egg=ansi2html
libsass
django-sass-processor
django-preferences
sqlparse
mysqlclient
websocket-client
unicodecsv
django-rosetta
python-memcached
