{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'detail' %}
    {% set title = contest.name %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>

    {% include "contest/media-js.html" %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block content_media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block body %}

    <div class="contest-detail">
        <div class="contest-detail-main">
            <div id="banner">
                <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlquote('') }}&amp;iso=
                        {{- contest.start_time|utc|date('Y-m-d\TH:i:s') }}" class="date">
                    {%- if participating and participation.virtual and not participation.ended -%}
                        {% if participation.spectate %}
                            {{- _('Spectating, contest ends in %(countdown)s.', countdown=contest.time_before_end|as_countdown) -}}
                        {% elif participation.end_time %}
                            {{- _('Participating virtually, %(countdown)s remaining.', countdown=participation.time_remaining|as_countdown) -}}
                        {% else %}
                            {{- _('Participating virtually.') -}}
                        {% endif %}
                    {%- else -%}
                        {% if contest.start_time > now %}
                            {{- _('Starting in %(countdown)s', countdown=contest.time_before_start|as_countdown) -}}
                        {% elif contest.end_time < now %}
                            {{- _('Contest is over.') -}}
                        {% else %}
                            {%- if participating -%}
                                {% if participation.ended %}
                                    {{- _('Your time is up!') -}}
                                {% else %}
                                    {{- _('You have %(countdown)s remaining.', countdown=participation.time_remaining|as_countdown) -}}
                                {% endif %}
                            {%- else -%}
                                {{ _('Contest ends in %(countdown)s.', countdown=contest.time_before_end|as_countdown) }}
                            {%- endif -%}
                        {% endif %}
                    {%- endif -%}
                </a>
                <div id="time">
                    {% if contest.time_limit %}
                        {% trans trimmed start_time=contest.start_time|date(_("F j, Y, G:i T")), end_time=contest.end_time|date(_("F j, Y, G:i T")), time_limit=contest.time_limit|timedelta('localized-no-seconds') %}
                            <b>{{ time_limit }}</b> window between <b>{{ start_time }}</b> and <b>{{ end_time }}</b>
                        {% endtrans %}
                    {% else %}
                        {% trans trimmed length=contest.contest_window_length|timedelta("localized-no-seconds"), start_time=contest.start_time|date(_("F j, Y, G:i T")) %}
                            <b>{{ length }}</b> long starting on <b>{{ start_time }}</b>
                        {% endtrans %}
                    {% endif %}
                </div>
            </div>

            <div class="content-description">
                {% cache 3600 'contest_html' contest.id contest.description %}
                    {{ contest.description|markdown('contest')|reference|str|safe }}
                {% endcache %}
            </div>


            {% if request.user.is_superuser or request.in_contest or contest.ended %}
                <hr>

                <div class="contest-problems">
                    <h2 style="margin-bottom: 0.2em"><i class="fa fa-fw fa-question-circle"></i>{{ _('Problems') }} </h2>
                    <table id="contest-problems" class="table">
                        <thead>
                        <tr>
                            {% if contest.is_in_contest(request.user) %}
                                <th>{{ _('Status') }}</th>
                            {% endif %}

                            <th>{{ _('Letter') }}</th>
                            <th>{{ _('Problem') }}</th>

                            {% if not contest.hide_points %}
                                <th>{{ _('Points') }}</th>
                            {% endif %}

                            <th>{{ _('AC Rate') }}</th>
                            <th>{{ _('Users') }}</th>

                            {% if contest.ended %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for problem in contest_problems %}
                            <tr>
                                {% if request.in_contest %}
                                    <td>
                                        {% if problem.id in completed_problem_ids %}
                                            <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                                                <i class="solved-problem-color title-state fa fa-check-circle"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                                                <i class="attempted-problem-color title-state fa fa-minus-circle"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}

                                <td>
                                    {% if problem.is_public or request.user.is_superuser or contest.is_in_contest(request.user) %}
                                        <a href="{{ url('problem_detail', problem.code) }}">
                                            {{ contest.contest_problems.get(problem=problem).letter }}
                                        </a>
                                    {% else %}
                                        {{ contest.contest_problems.get(problem=problem).letter }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if problem.is_public or request.user.is_superuser or contest.is_in_contest(request.user) %}
                                        <a href="{{ url('problem_detail', problem.code) }}">{{ problem.i18n_name }}</a>
                                    {% else %}
                                        {{ problem.i18n_name }}
                                    {% endif %}
                                </td>

                                {% if not contest.hide_points %}
                                    <td>{{ problem.points|floatformat }}{% if problem.partial %}p{% endif %}</td>
                                {% endif %}

                                <td>{{ problem.ac_rate|floatformat(1) }}%</td>

                                <td>
                                    {% if problem.is_public or request.user.is_superuser %}
                                        <a href="{{ url('ranked_submissions', problem.code) }}">{{ problem.user_count }}</a>
                                    {% else %}
                                        {{ problem.user_count }}
                                    {% endif %}
                                </td>

                                {% if contest.ended %}
                                    <td>
                                        {% if problem.is_public and problem.has_public_editorial %}
                                            <a href="{{ url('problem_editorial', problem.code) }}">{{ _('Editorial') }}</a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if contest.is_in_contest(request.user) %}
                <hr>

                <div style="margin-top: 20px">
                    {% if request.participation.contest.use_clarifications %}
                        <div>
                            <h3>{{ _('Clarifications') }} <i class="fa fa-question-circle"></i></h3>
                            <div class="sidebox-content">
                                {% if has_clarifications %}
                                    <ul>
                                        {% for clarification in clarifications %}
                                            <li class="clarification">
                                                <a href="{{ url('problem_detail', clarification.problem.code) }}"
                                                    class="problem">
                                                    {{ clarification.problem.name }}
                                                </a>
                                                <span class="time">{{ relative_time(clarification.date) }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="no-clarifications-message">
                                        {{ _('No clarifications have been made at this time.') }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div style="margin-top: 20px">
                        <h3>{{ _('My open tickets') }} <i class="fa fa-question-circle"></i></h3>
                        <div class="sidebox-content">
                            {% if own_open_tickets %}
                                <ul class="own-open-tickets">
                                    {% for ticket in own_open_tickets %}
                                        <li>
                                            <div class="title">
                                                <a href="{{ url('ticket', ticket.id) }}">{{ ticket.title }}</a>
                                            </div>
                                            <div class="object">
                                                <a href="{{ ticket.linked_item.get_absolute_url() }}">
                                                    {{ ticket.linked_item|item_title }}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="no-tickets-message">
                                    {{ _('No tickets.') }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if not contest.no_social_share %}
                <hr>
                <span class="social">
                    {{ post_to_gplus(request, contest, '<i class="fa fa-google-plus-square"></i>') }}
                    {{ post_to_facebook(request, contest, '<i class="fa fa-facebook-official"></i>') }}
                    {{ post_to_twitter(request, preferences.SitePreferences.site_name + ':', contest, '<i class="fa fa-twitter"></i>') }}
                </span>
            {% endif %}
        </div>
    </div>

    {% include "comments/list.html" %}
{% endblock %}

{% block description_end %}{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% include "comments/math.html" %}
{% endblock %}
k
