{% extends "user/base-users-table.html" %}

{% block after_rank_head %}
    {% if has_rating %}
        <th>{{ _('Rating') }}</th>
    {% endif %}
{% endblock %}

{% block after_rank %}
    {% if has_rating %}
        <td>{% if user.participation_rating %}{{ rating_number(user.participation_rating) }}{% endif %}</td>
    {% endif %}
{% endblock %}

{% block user_data %}
    {% if not contest.ended %}
        {% if user.participation and not user.participation.ended %}
            <div class="start-time active">
                {{ relative_time(user.participation.start, abs=_('Started on {time}'), rel=_('Started {time}')) }}
            </div>
        {% else %}
            <div class="start-time">{{ _('Participation ended.') }}</div>
        {% endif %}
    {% endif %}
    {% if perms.judge.change_contestparticipation %}
        <div data-link="{{ url('admin:judge_contestparticipation_change', user.participation.id) }}"
             class="edit-participation"></div>
    {% endif %}
{% endblock %}

{% block before_point_head %}
    {% for problem in problems %}
        <th class="points header"><a href="{{ url('problem_detail', problem.problem.code) }}">
            {% if problem.letter %}
              {{ problem.letter }}
            {% else %}
              {{- loop.index }}
            {% endif %}

            {% if completed_problem_ids and problem.problem.id in completed_problem_ids %}
                <i class="solved-problem-color title-state fa fa-check-circle"></i>
            {% endif %}

            {% if not contest.hide_points %}
              <div class="point-denominator">{{ problem.points }}</div>
            {% endif %}
        </a></th>
    {% endfor %}
{% endblock %}

{% block before_point %}
    {% for cell in user.problem_cells %}
        {{ cell }}
    {% endfor %}
{% endblock %}

{% block point %}
    {{ user.result_cell }}
{% endblock %}

{% block row_class %}
    {% if request.user.is_authenticated and request.user.pk == user.user.pk %} current-user {% endif %}
{% endblock %}
